<!DOCTYPE html>
<html>
<head>
    <title>Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="graph"></div>
    <button id="start-SNARIMAX-model-button">Start snarimax model</button>
    <button id="start-holt-model-button">Start holt Model</button>
	<button id="start-TIDE-model-button">Start TIDE Model</button>
	<input id="prediction-length" type="number" min="1" value="168">
    <script>const graphs = {{ graphJSON | safe }};</script>
	<script src="/static/main.js"></script>
</body>
</html>